{% block subject %}
Password Reset Request
{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Hi,</p>
    <p>You requested a password reset. Click the link below to reset your password:</p>
    <p>
        <a href="http://localhost:3000/password-reset-confirm/{{ uid }}/{{ token }}/">
            Reset Password
<!--        <a href="{{ protocol }}://{{ domain }}{{ url }}">-->
<!--            Reset Password-->
        </a>
    </p>
    <p>If you did not request this, you can safely ignore this email.</p>
</body>
</html>
{% endblock %}
